{% extends 'base.html' %}

{% block title %}{{tag.name}}{% endblock %}

{% block content %}

<h1>{{tag.name}}</h1>

   
<ul>
    {% for post in tag.posts %}
        <li><a href="posts/{{post.id}}">{{post.title}}</li>
    {% endfor%}
</ul>
<form>
    <button class="btn btn-primary btn-sm"
            formaction="/tags/{{tag.id}}/edit"
            formmethod="GET">Edit Tag
    </button>
    <button class="btn btn-danger btn-sm"
            formaction="/tags/{{tag.id}}/delete"
            formmethod="POST">Delete Tag
    </button>
</form>

{% endblock %}